/***********************************************************
 FONTS
 **********************************************************/
body{
    font-family: 'Ubuntu', sans-serif;
}

/***********************************************************
 COLORS
 **********************************************************/
.color-green-primary{
    color: #32a841;
}
.color-blue-primary{
    color: #0083fe;
}
.color-orange-primary{
    color: #fe7b00;
}
.color-dark-primary{
    color: #333333;
}
.color-purple-primary{
    color: #5b73e8;
}
.color-red-primary{
  color: #fe0000;
}

/***********************************************************
 BUTTONS
 **********************************************************/
.btn-light-1{
  background: #50a5f1 !important;
}
.btn-gray-1 {
  color: #fff;
  background-color: #535353;
  border-color: #535353;
}
.btn-gray-1:hover {
  color: #fff !important;
  background-color: #2b2b2b;
  border-color: #2b2b2b;
}

/***********************************************************
 ICONS
 **********************************************************/

.icons40{
    font-size: 40px;
}

/***********************************************************
 SHAPES
 **********************************************************/
.circle-shape {
    background: transparent;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

/***********************************************************
 BACKGROUND COLORS
 **********************************************************/
.bg-red{
    background: red;
}
.bg-blue{
    background: blue;
}
.bg-orange{
    background: orange;
}
.bg-purple{
    background: purple;
}
.bg-black{
    background: black;
}
.bg-gradient-gray-1 {
  background: -webkit-gradient(linear,left top,left bottom,from(#525252),to(rgba(131,131,131,.5)))!important;
  background: linear-gradient(to bottom,#525252,rgb(131 131 131 / 50%))!important;
}

/***********************************************************
 FORMS
 **********************************************************/
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgb(206, 212, 218);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: rgb(206, 212, 218);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
    max-height: 240px;
}

/***********************************************************
 NEW CUSTOMER
 **********************************************************/
.input-new-customer-code,
.input-new-customer-unit-price,
.input-new-customer-total,
.input-labor-rate
.input-labor-code,
.input-new-customer-sm{
    width: 110px;
}
.input-new-customer-description,
.input-labor-description,
.input-new-customer-md{
    width: 320px;
}
.input-new-customer-quantity, .input-labor-hourly-rate, .input-labor-hours, .input-labor-minutes, .input-new-customer-xs{
    width: 64px;
}

.file-upload-section{
    margin:0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #c1c1c1;
}
.fileinput-remove,
.fileinput-upload{
    display: none;
}


/***********************************************************
 GALLERY
 **********************************************************/
.btn-outline-success {
    color: #34c38f;
    border-color: #34c38f;
}


.type-file{
    display:none;
}


.upload-label{
    display:block;
    position:relative;
    background-color:#025bee;
    color:#fff;
    font-size:18px;
    text-align:center;
    width:300px;
    padding:18px 0;
    margin:auto;
    border-radius:5px;
    cursor:pointer;
}


#images{
    width:90%;
    position:relative;
    margin:auto;
    display:flex;
    justify-content:space-evenly;
    gap:20px;
    flex-wrap:wrap;
}

figure{
 width:60%;
}


figcaption{
    text-align:center;
    font-size:2.4vmin;
    margin-top:0.5vmin;
}



/*warranty*/

/*input[type="file"]{
    display:none;
}*/


.upload-labels{
    display:block;
    position:relative;
    background-color:#025bee;
    color:#fff;
    font-size:18px;
    text-align:center;
    width:300px;
    padding:18px 0;
    margin:auto;
    border-radius:5px;
    cursor:pointer;
}


#imagez{
    width:90%;
    position:relative;
    margin:auto;
    display:flex;
    justify-content:space-evenly;
    gap:20px;
    flex-wrap:wrap;
}

figure{
 width:60%;
}


figcaption{
    text-align:center;
    font-size:2.4vmin;
    margin-top:0.5vmin;
}
/***********************************************************
 MODALS
 **********************************************************/
.not-visible{
display:none;
}


/***********************************************************
 TABLES
 **********************************************************/

 table.table a{
    cursor: pointer;
 }
 table.table th.first-column{
     width: 166px !important;
     display: inline-block;
     white-space: normal;
     font-weight: normal;
 }

table.table th.quantity-column{
    width: 80px !important;
    display: inline-block;
    white-space: normal;
    font-weight: normal;
}


/***CUSTOM MIO***/
/*tr{
border-top: 1px solid #E5E5E5 !important;

}*/



.span-container input {
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
    /*background-color:red;*/
}



input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}










/***********************************************************
 MODALS
**********************************************************/
.modal-small{
  max-width: 100% !important;
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 90%;
    }
    .modal-small{
      max-width: 50% !important;
    }
}
@media (min-width: 1279px){
    .modal-dialog {
        max-width: 70%;
    }
    .modal-small{
      max-width: 30% !important;
    }
}

/***********************************************************
MODALS
***********************************************************/
.estimatepreview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/***********************************************************
AUTOCOMPLETE
***********************************************************/

input[type=text].autocomplete-input {
  display: block;
  width: 100%;
  padding: 0.47rem 0.75rem;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }

/*input[type=text].autocomplete-input:focus {
    border: 2px solid #757575;
    outline: none;
}*/

  .autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
  }

  .autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
  }

  .autocomplete-selected {
    background: #F0F0F0;
  }

  .autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
  }

  .autocomplete-group {
    padding: 2px 5px;
  }

  .autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
  }

/***********************************************************
AUTOCOMPLETE MULTIPLE OPTIONS
***********************************************************/

  .tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #c0c0c0;
    border-radius: 0.25rem;
    margin: 1rem 0;
    position: relative;
    background: #fff;
  }
  .tags:focus-within {
    border-color: dodgerblue;
  }
  .input-tags {
    flex: 1;
    margin: 0.5rem 0;
    padding: 0 0.25rem;
    outline: none;
  }
  .tag {
    margin: 0.25rem;
    padding: 0.05rem 0.5rem;
    border: 1px solid #c0c0c0;
    border-radius: 0.25rem;
    white-space: nowrap;
    color: #c0c0c0;
    cursor: pointer;
    user-select: none;
  }
  .tag:hover {
    border-color: dodgerblue;
    color: dodgerblue;
  }
  .tags-drop {
    display: inline-block;
    list-style: none;
    width: fit-content;
    border-radius: 0.25rem;
    overflow: hidden;
    position: absolute;
    top: calc(100% + 0.15rem);
    z-index: 1;
    background: #fff;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s;
    padding: 8px 0;
  }
  .tags-drop.active {
    background: #f3f8fb;
    opacity: 1;
    pointer-events: auto;
  }
  .tags-drop__item {
    padding: 0.25rem 1rem;
  }
  .tags-drop__item:hover,
  .tags-drop__item:focus{
    background: #f3f8fb;
  }

/***********************************************************
SWIPER
***********************************************************/
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/***********************************************************
 SHOW HIDE
***********************************************************/
.hide-item {
    display: none !important;
}
.show-item {
    display: block !important;
}

/***********************************************************
 STEPPER NAVIGATION
***********************************************************/
.steppernav {
  background: #eef1fd;
  padding: 16px 0;
}
.steppernav a{
  display: block;
  padding: 6px 16px;
  margin-bottom: 4px;
}
.steppernav a.active, .steppernav a:hover.active, .steppernav a:hover{
  background: #dee3fa;
}
.steppernav a:last-child{
  margin-bottom: 0px;
}

.steppernav a span{
  border: 2px solid #5b73e8;
  border-radius: 250px;
  height: 40px;
  width: 40px;
  display: inline-block;
  line-height: 36px;
  text-align: center;
}

.steppernav a.active span, .steppernav a.active:hover span, .steppernav a:hover span{
  background: #5b73e8;
  color: #ffffff;
}


/*AJUSTES MIOS DE DESARROLLO*/



#empty-row{
display:none;
}


#empty-rows{
display:none;
}

#empty-rowz{
display:none;
}


.form-control-quantity{
    display: block;
    width: 100%;
    padding: 0.47rem 0.75rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}


.form-control-unit-price{
    display: block;
    width: 100%;
    padding: 0.47rem 0.75rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}


.form-control-total-price{
    display: block;
    width: 100%;
    padding: 0.47rem 0.75rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
 /*
.hidden-form{

    display:none;

}*/

:lang(en) [data-en] { display: block; }
:lang(en) [data-fr] { display: none; }

:lang(fr) [data-fr] { display: block; }
:lang(fr) [data-en] { display: none; }

.custom-radio-list {
    list-style-type: none;
    padding: 0;

}

.custom-radio{
    list-style-type: none;
    padding: 0;

}



.custom-radio-list li{
    list-style-type: none;
    padding: 0;
    /*margin: 0;*/
    display:inline-flex;
    margin-left:1rem;

}

.form-check-inline {
    display: inline-block;
    margin-right: 1rem;
}

fieldset.inlineLabels ul {list-style:none}


.form-control-language{
    /* display: block; */
    /* width: 100%; */
    padding: 0.47rem 0.75rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}


#show-form{
display:none;
}



/***********************************************************
 TOP NAV BAR
***********************************************************/
.navbar-brand-box {
    padding: 0 .6rem;
}


/***********************************************************
 PROFILE
***********************************************************/
.plantype{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 12px 0 0 0;
}
.plantype p{
  padding: 0 0 0 8px;
  margin:0;
  line-height: 16px;
}

.profilebtns{
  display: flex;
  flex-direction: column;
}

.profilebtns a{
  border-bottom: 1px solid #dfdfdf;
  padding: 16px 24px 16px 48px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #74788d;
}

.profilebtns a:hover{
  color: #495057;
}

.profilebtns a:last-child{
  margin-bottom: 0px;
}

.profilebtns a.edit_profile{
  background: url(../svg/edit-profile.svg) no-repeat center left, url(../svg/arrow-right.svg) no-repeat 96% 48%;
  background-size: 32px, 8px;
}

.profilebtns a.my_plan{
  background: url(../svg/my-plan.svg) no-repeat center left, url(../svg/arrow-right.svg) no-repeat 96% 48%;
  background-size: 32px, 8px;
}

.profilebtns a.change_password{
  background: url(../svg/change-password.svg) no-repeat center left, url(../svg/arrow-right.svg) no-repeat 96% 48%;
  background-size: 32px, 8px;
}

.profilebtns a.logout{
  background: url(../svg/logout.svg) no-repeat center left, url(../svg/arrow-right.svg) no-repeat 96% 48%;
  background-size: 32px, 8px;
}

.profilebtns a.delete_account{
  background: url(../svg/delete-account.svg) no-repeat center left;
  background-size: 16px;
  color: #b5b5b5;
  padding-left: 24px;
  margin-top: 80px;
  border-bottom: 0;
}

/***********************************************************
 TEXT FORMAT
***********************************************************/
.text-right{
  text-align: right !important;
}

