{% extends 'SistemaCarros/base.html' %}
{% load widget_tweaks %}



{% block content %}

           <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0">Adding...</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}">The Shop</a></li>
                                            <li class="breadcrumb-item"><a href="{% url 'Clientes:clientes_list' %}">Customers</a></li>
                                            <li class="breadcrumb-item active">Add</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-3">Customer information</h4>
                                        <form enctype="multipart/form-data" method="post">
                                            {% csrf_token %}
                                            <div class="row mb-3">
                                                <div class="col-md-3">
                                                    <div class="mb-3">
                                                        <label>Customer type</label>
                                                        <br>
                                                        <div class="form-check form-check-inline">
                                                          {{ form.tipo }}

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3 only-corp hide-item">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label>Corporative client</label>
                                                        {{ form.corporacion }}

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-2 only-person">
                                                    <div class="mb-3">
                                                        <label>Title</label>
                                                        {{ form.titulo }}

                                                    </div>
                                                </div>
                                                <div class="col-md-5 only-person">
                                                    <div class="mb-3">
                                                        <label>First name</label>
                                                        {{ form.nombre }}

                                                        <div class="invalid-feedback">
                                                            Please provide the first name.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 only-person">
                                                    <div class="mb-3">
                                                        <label class="form-label">Last name</label>
                                                        {{ form.apellido }}

                                                        <div class="invalid-feedback">
                                                            Please provide the last name.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Phone 1</label>
                                                        {{ form.telefono }}

                                                        <div class="invalid-feedback">
                                                            Please provide a phone number.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Phone 2</label>
                                                        {{ form.tel }}

                                                        <div class="invalid-feedback">
                                                            Please provide a phone number.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">FAX</label>
                                                        {{ form.fax }}

                                                        <div class="invalid-feedback">
                                                            Please provide a fax number.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">E-mail</label>
                                                        {{ form.correo }}

                                                        <div class="invalid-feedback">
                                                            Please provide an e-mail.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="mb-3">
                                                        <label class="form-label">Website</label>
                                                        {{ form.website }}

                                                        <div class="invalid-feedback">
                                                            Please provide a website.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label>Social media 1</label>
                                                        {{ form.social_media }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label>Social media 2</label>
                                                        {{ form.social_media2 }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label>Social media 3</label>
                                                        {{ form.social_media3 }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <hr>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="mb-3 only-corp hide-item">
                                                        <label>Alternative contact 1</label>
                                                        {{ form.contacto_alternativo }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3 only-corp hide-item">
                                                        <label>Alternative contact 2</label>
                                                        {{ form.contacto_alternativo2 }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3 only-corp hide-item">
                                                        <label>Alternative contact 3</label>
                                                        {{ form.contacto_alternativo3 }}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <hr>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label class="form-label d-block mb-3">Country :</label>

                                                        <div class="custom-radio form-check form-check-inline">
                                                              {{ form.pais }}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Address</label>
                                                        {{ form.direccion }}
                                                        <div class="invalid-feedback">
                                                            Please provide an address.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">City / Town</label>
                                                        {{ form.ciudad }}
                                                        <div class="invalid-feedback">
                                                            Please provide a valid city.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">State</label>
                                                        {{ form.estado }}
                                                        <div class="invalid-feedback">
                                                            Please provide a valid state.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Zip</label>
                                                        {{ form.zip }}
                                                        <div class="invalid-feedback">
                                                            Please provide a valid zip.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <hr>
                                                </div>
                                            </div>

                                                <div class="col-md-4">
                                                    <div class="mb-3">

                                                        {{ form.fecha_registro }}
                                                        <div class="invalid-feedback">
                                                            Please provide a valid zip.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <button class="btn btn-primary mb-3" type="submit" value="Post">Save</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- end card -->

                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->



                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->


{% endblock %}